:root{
--cor-fundo-cabecalho:#7D00B8;
--cor-fundo-linear:#4EBFE9;
--cor-fundo-baixo:#000000;
--cor-fonte:#FFF500;
--cor-fonte-cabecalho:#FFFFFF;

}
.cabecalho{
    background-color: var(--cor-fundo-cabecalho);
    color:var(--cor-fonte-cabecalho);
    display: flex;
    justify-content: space-around;

}
    .imagemcabecalho{
         width: 10%;



}



    .item-lista-cabecalho{
    display: inline-block;
    margin:10px 16px ;
    font-size: 24px;
    margin-top: 20px;

}